body{
    background-color: #bde0fe;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fb6f92;
}

h1{
    color: #9f86c0;
}

h2{
    color: #7f4f24;
}

h3{
    color: #f8507a;
}

img{
    width: 30%;
}